{%extends 'base.html' %}
{% load static %}
{%block content%}
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    Farrel Sheva Alkautsar  
  </a>
</nav>
  
<h1 align="center">Inventory Page</h1>
<p> Name: {{name}}</p>

<p> Class: {{class}}</p>

<p> NPM: {{npm}}</p>
<table class="table table-hover mx auto">
  <thead>
    <tr>
      <th scope="col">Item</th>
      <th scope="col">Amount</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
  {% for item in items %}
      <tr class="{% if forloop.last %}table-danger{% else %}table-info{% endif %}" 
      data-url="{% url 'main:edit_item' item.id %}">
          <td>{{item.name}}</td>
          <td>{{item.amount}}</td>
          <td>{{item.description}}</td>
      </tr>
  {% endfor %}
  </tbody>
</table>

<br>

<div class="d-flex justify-content-center" >
<a href="{% url 'main:create_item' %}">
  <button class="btn btn-success" >
      Loot a new Item!
  </button>
</a>
</div>

<br>
<div class="d-flex justify-content-center" >
  <h5>Last Played: <span class="badge bg-primary">{{last_login}}</span></h5>
</div>

<br>
<div class="d-flex justify-content-center">
  <a href="{% url 'main:logout_user' %}">
    <button class="btn btn-danger">
        Quit Game
    </button>
  </a>
</div>

<script>
$(document).ready(function(){
    $("tr[data-url]").click(function() {
        window.location = $(this).data("url");
    });
});
</script>

{%endblock content%}