{%extends 'base.html' %}
{% load static %}
{%block content%}
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    Farrel Sheva Alkautsar  
  </a>
</nav>
  
<h1 align="center">Inventory Page</h1>
<p> Player: {{name}}</p>

<p> Class: {{class}}</p>

<p> NPM: {{npm}}</p>


<div class="container">
  <div class="row" id="item_cards">
</div>


<div class="modal fade" id="ManifestModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Manifest An Item</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form id="form" onsubmit="return false;">
                  {% csrf_token %}
                  <div class="mb-3">
                      <label for="name" class="col-form-label">Name:</label>
                      <input type="text" class="form-control" id="name" name="name"></input>
                  </div>
                  <div class="mb-3">
                      <label for="amount" class="col-form-label">Amount:</label>
                      <input type="number" class="form-control" id="amount" name="amount"></input>
                  </div>
                  <div class="mb-3">
                      <label for="description" class="col-form-label">Description:</label>
                      <textarea class="form-control" id="description" name="description"></textarea>
                  </div>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Manifest</button>
          </div>
      </div>
  </div>
</div>

<br>



<div class="d-flex justify-content-center" >
<a href="{% url 'main:create_item' %}">
  <button class="btn btn-success" >
      Loot a new Item!
  </button>
</a>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ManifestModal">
  Add Product by AJAX</button>
</div>

<br>
<div class="d-flex justify-content-center" >
  <h5>Last Played: <span class="badge bg-primary">{{last_login}}</span></h5>
</div>

<br>
<div class="d-flex justify-content-center">
  <a href="{% url 'main:logout_user' %}">
    <button class="btn btn-danger">
        Quit Game
    </button>
  </a>
</div>

<script>

  async function getItems() {
      return fetch("{% url 'main:get_item_json' %}").then((res) => res.json())
  }

  async function refreshProducts() {
    document.getElementById("item_cards").innerHTML = ""
    const items = await getItems()
    let htmlString = ``
    items.forEach((item) => {
        htmlString += `
        <div class ="col-md-4">
          <div class= "card" style="width: 18 rem;margin:20px"
            <div class= "card-body">
              <h5 class="card-title">${item.name}</h5>
              <h6 class="card-subtitle mb-2 text-muted">${item.amount}</h6>
              <p class="card-text">${item.description}</p>
            </div>
          </div>
        </div>`
    })
    document.getElementById("item_cards").innerHTML = htmlString
}

refreshProducts()

function addItem() {
    fetch("{% url 'main:add_item_ajax' %}", {
        method: "POST",
        body: new FormData(document.querySelector('#form'))
    }).then(refreshProducts)

    document.getElementById("form").reset()
    return false
}







</script>

{%endblock content%}