<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PBP Inventory app</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    <h1 align="center">Inventory Page</h1>
    <p> Name: Farrel Sheva Alkautsar </p>
    <p> Class : PBP A </p>
    <p> NPM: 2206030344 </p>
    
    <table border="2" align="center" class="table table-striped-columns">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for i,j,k in zipped  %}
            <tr>
                <td>{{ i }}</td>
                <td>{{ j }}</td>
                <td>{{ k }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

  </body>
</html>